doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title QUARK ALIEN
    meta(name='description', content='Quark alien')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet",href="css/main.css")
  body
    div#absolute(onclick="$(this).quarkAlien();")
    div#relative(onclick="$(this).quarkAlien();")
    div#fixed(onclick="$(this).quarkAlien();")
    p(onclick="$(this).quarkAlien();") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nibh sem, euismod in scelerisque at, viverra non est. Vestibulum vitae lobortis sapien. Donec convallis sollicitudin lacus, congue pellentesque lorem lobortis hendrerit. Duis non dapibus quam, mollis lobortis tortor. Praesent accumsan mi nisi, vitae euismod metus aliquet eu. In vehicula nibh eu augue tristique gravida. Quisque accumsan quam eu libero pulvinar, bibendum rhoncus quam posuere. Integer non felis eget tortor interdum varius. Donec ac augue ut quam laoreet suscipit. Nunc mattis nulla nec felis pulvinar pulvinar. Praesent diam nisl, consectetur condimentum ultrices eget, blandit rutrum sapien. Aenean quis sagittis magna. Nulla dignissim nibh lorem, hendrerit molestie erat accumsan vel. Fusce posuere nulla in vehicula placerat. In sed ullamcorper turpis. Ut lacus enim, ultrices sed est at, pulvinar venenatis purus.<br> Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sollicitudin, nisi iaculis gravida ultricies, magna nibh vulputate massa, eleifend accumsan orci neque ac erat. Ut lacinia rhoncus ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque elementum mollis iaculis. Curabitur vitae consequat nisl, vel iaculis elit. Suspendisse lobortis ac nisl vitae iaculis. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nibh sem, euismod in scelerisque at, viverra non est. Vestibulum vitae lobortis sapien. Donec convallis sollicitudin lacus, congue pellentesque lorem lobortis hendrerit. Duis non dapibus quam, mollis lobortis tortor. Praesent accumsan mi nisi, vitae euismod metus aliquet eu. In vehicula nibh eu augue tristique gravida. Quisque accumsan quam eu libero pulvinar, bibendum rhoncus quam posuere. Integer non felis eget tortor interdum varius. Donec ac augue ut quam laoreet suscipit. Nunc mattis nulla nec felis pulvinar pulvinar. Praesent diam nisl, consectetur condimentum ultrices eget, blandit rutrum sapien. Aenean quis sagittis magna. Nulla dignissim nibh lorem, hendrerit molestie erat accumsan vel. Fusce posuere nulla in vehicula placerat. In sed ullamcorper turpis. Ut lacus enim, ultrices sed est at, pulvinar venenatis purus.<br> Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sollicitudin, nisi iaculis gravida ultricies, magna nibh vulputate massa, eleifend accumsan orci neque ac erat. Ut lacinia rhoncus ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque elementum mollis iaculis. Curabitur vitae consequat nisl, vel iaculis elit. Suspendisse lobortis ac nisl vitae iaculis. Nulla facilisi.
    img(src="http://lorempixel.com/400/200/sports/1",onclick="$(this).quarkAlien();")
    script(src="js/libs/jquery/dist/jquery.min.js")
    script(src="js/main.js")