doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title QUARK ALIEN
    meta(name='description', content='Quark alien')
    link(rel="stylesheet",href="css/main.css")
  body
    div.smallAlien
      div.inner
    div.smallAlien.step
      div.inner
    div.bigAlien
      div.inner
    script(src="js/libs/jquery/dist/jquery.min.js")